USE [master]
GO
/****** Object:  Database [gestion_maquinas_poker]    Script Date: 8/7/2025 3:59:28 PM ******/
CREATE DATABASE [gestion_maquinas_poker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gestion_maquinas_poker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gestion_maquinas_poker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gestion_maquinas_poker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gestion_maquinas_poker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestion_maquinas_poker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestion_maquinas_poker]
GO
/****** Object:  User [owner]    Script Date: 8/7/2025 3:59:28 PM ******/
CREATE USER [owner] FOR LOGIN [owner] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[evidencia_mantenimiento]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evidencia_mantenimiento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mantenimiento_id] [int] NOT NULL,
	[url_foto] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[finanzas]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finanzas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_movimiento] [nvarchar](10) NULL,
	[descripcion] [nvarchar](255) NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[moneda] [nvarchar](10) NOT NULL,
	[fecha_movimiento] [datetime] NOT NULL,
	[maquina_id] [int] NULL,
	[usuario_id] [int] NOT NULL,
	[transaccion_id] [int] NULL,
	[proveedor_id] [int] NULL,
	[orden_trabajo_id] [int] NULL,
	[referencia_externa] [nvarchar](100) NULL,
	[notas] [nvarchar](max) NULL,
	[created_en] [datetime] NOT NULL,
	[actualizado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventarios]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[repuesto_id] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[ubicacion_id] [int] NULL,
	[ultima_entrada_cantidad] [int] NULL,
	[ultima_entrada_fecha] [datetime] NULL,
	[ultima_salida_cantidad] [int] NULL,
	[ultima_salida_fecha] [datetime] NULL,
	[stock_minimo] [int] NULL,
	[notas] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
	[actualizado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mantenimientos]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mantenimientos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orden_trabajo_id] [int] NOT NULL,
	[tipo] [nvarchar](50) NULL,
	[descripcion] [nvarchar](max) NULL,
	[acciones_realizadas] [nvarchar](max) NULL,
	[repuestos_utilizados] [nvarchar](max) NULL,
	[costo_estimado] [decimal](18, 2) NULL,
	[costo_real] [decimal](18, 2) NULL,
	[fecha_programada] [datetime] NULL,
	[fecha_realizacion] [datetime] NULL,
	[tecnico_id] [int] NULL,
	[resultado] [nvarchar](50) NULL,
	[observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maquinas]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maquinas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero_serie] [varchar](100) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[modelo] [varchar](100) NULL,
	[fecha_adquisicion] [date] NULL,
	[fecha_instalacion] [date] NULL,
	[proveedor_id] [int] NULL,
	[usuario_id] [int] NULL,
	[estado] [varchar](50) NULL,
	[ultima_ubicacion_id] [int] NULL,
	[ultimo_mantenimiento] [date] NULL,
	[proximo_mantenimiento] [date] NULL,
	[notas] [text] NULL,
	[creado_en] [datetime] NULL,
	[actualizado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ordenes_trabajo]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordenes_trabajo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](255) NULL,
	[maquina_id] [int] NULL,
	[tipo] [nvarchar](50) NULL,
	[prioridad] [nvarchar](50) NULL,
	[estado] [nvarchar](255) NULL,
	[descripcion] [nvarchar](max) NULL,
	[tecnico_id] [int] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_asignacion] [datetime] NULL,
	[fecha_inicio] [datetime] NULL,
	[fecha_finalizacion] [datetime] NULL,
	[tiempo_estimado] [int] NULL,
	[tiempo_real] [int] NULL,
	[cliente_notificado] [bit] NULL,
	[firma_cliente] [nvarchar](255) NULL,
	[calificacion_servicio] [int] NULL,
	[comentarios_cliente] [nvarchar](max) NULL,
	[foto_finalizacion] [nvarchar](max) NULL,
	[reporte_cliente_id] [int] NULL,
	[notas_tecnico] [nvarchar](max) NULL,
	[creado_en] [datetime2](7) NULL,
	[actualizado_en] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[contacto] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](255) NULL,
	[direccion] [nvarchar](255) NULL,
	[rtn] [nvarchar](50) NULL,
	[tipo_servicio] [nvarchar](50) NULL,
	[calificacion] [int] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportes_cliente]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportes_cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maquina_id] [int] NOT NULL,
	[cliente_id] [int] NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[gravedad] [nvarchar](50) NOT NULL,
	[estado_anterior] [nvarchar](50) NOT NULL,
	[estado_nuevo] [nvarchar](50) NOT NULL,
	[estado_reporte] [nvarchar](50) NOT NULL,
	[fecha_reporte] [datetime] NOT NULL,
	[fecha_asignacion] [datetime] NULL,
	[tecnico_asignado_id] [int] NULL,
	[orden_trabajo_id] [int] NULL,
	[notas_admin] [nvarchar](max) NULL,
	[creado_en] [datetime] NULL,
	[actualizado_en] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[repuestos]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repuestos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[codigo] [nvarchar](50) NULL,
	[descripcion] [nvarchar](max) NULL,
	[proveedor_id] [int] NULL,
	[precio_unitario] [decimal](18, 2) NULL,
	[ubicacion_almacen] [int] NULL,
	[compatible_con] [nvarchar](255) NULL,
	[fecha_ultimo_reabastecimiento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tecnicos]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tecnicos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[especialidad] [nvarchar](100) NULL,
	[disponibilidad] [nvarchar](50) NULL,
	[vehiculo_asignado] [nvarchar](100) NULL,
	[herramienta_asignada] [nvarchar](max) NULL,
	[calificacion_promedio] [decimal](3, 2) NULL,
	[fecha_contratacion] [datetime] NOT NULL,
	[ubicacion_actual] [nvarchar](100) NULL,
	[ultima_ubicacion_lat] [decimal](9, 6) NULL,
	[ultima_ubicacion_lon] [decimal](9, 6) NULL,
	[ultima_actualizacion_ubicacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_transaccion]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_transaccion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[tipo] [nvarchar](10) NULL,
	[descripcion] [nvarchar](max) NULL,
	[padre_id] [int] NULL,
	[activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacciones]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maquina_id] [int] NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[moneda] [nvarchar](10) NOT NULL,
	[fecha_transaccion] [datetime] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[metodo_pago] [nvarchar](50) NULL,
	[referencia] [nvarchar](100) NULL,
	[usuario_id] [int] NOT NULL,
	[sincronizado_quickbooks] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubicaciones]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubicaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[direccion] [nvarchar](255) NOT NULL,
	[ciudad] [nvarchar](100) NOT NULL,
	[codigo_postal] [nvarchar](20) NULL,
	[telefono] [nvarchar](20) NULL,
	[responsable] [nvarchar](100) NULL,
	[latitud] [decimal](9, 6) NULL,
	[longitud] [decimal](9, 6) NULL,
	[activa] [bit] NOT NULL,
	[creado_en] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 8/7/2025 3:59:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[rol] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](20) NULL,
	[activo] [bit] NOT NULL,
	[ultimo_login] [datetime] NULL,
	[mfa_secret] [nvarchar](255) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_reportes_cliente_maquina_id]    Script Date: 8/7/2025 3:59:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_reportes_cliente_maquina_id] ON [dbo].[reportes_cliente]
(
	[maquina_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[finanzas] ADD  DEFAULT ('HNL') FOR [moneda]
GO
ALTER TABLE [dbo].[finanzas] ADD  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [dbo].[finanzas] ADD  DEFAULT (getdate()) FOR [created_en]
GO
ALTER TABLE [dbo].[inventarios] ADD  DEFAULT ((0)) FOR [cantidad]
GO
ALTER TABLE [dbo].[inventarios] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[inventarios] ADD  DEFAULT (getdate()) FOR [actualizado_en]
GO
ALTER TABLE [dbo].[maquinas] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[maquinas] ADD  DEFAULT (getdate()) FOR [actualizado_en]
GO
ALTER TABLE [dbo].[ordenes_trabajo] ADD  DEFAULT ('Media') FOR [prioridad]
GO
ALTER TABLE [dbo].[ordenes_trabajo] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[ordenes_trabajo] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[ordenes_trabajo] ADD  DEFAULT ((0)) FOR [cliente_notificado]
GO
ALTER TABLE [dbo].[ordenes_trabajo] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[ordenes_trabajo] ADD  DEFAULT (getdate()) FOR [actualizado_en]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[reportes_cliente] ADD  DEFAULT ('pendiente') FOR [estado_reporte]
GO
ALTER TABLE [dbo].[tecnicos] ADD  DEFAULT (getdate()) FOR [fecha_contratacion]
GO
ALTER TABLE [dbo].[tipo_transaccion] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[transacciones] ADD  DEFAULT ('HNL') FOR [moneda]
GO
ALTER TABLE [dbo].[transacciones] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[transacciones] ADD  DEFAULT ((0)) FOR [sincronizado_quickbooks]
GO
ALTER TABLE [dbo].[ubicaciones] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[ubicaciones] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('admin') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[evidencia_mantenimiento]  WITH CHECK ADD  CONSTRAINT [FK_evidencia_mantenimiento_mantenimiento] FOREIGN KEY([mantenimiento_id])
REFERENCES [dbo].[mantenimientos] ([id])
GO
ALTER TABLE [dbo].[evidencia_mantenimiento] CHECK CONSTRAINT [FK_evidencia_mantenimiento_mantenimiento]
GO
ALTER TABLE [dbo].[finanzas]  WITH CHECK ADD  CONSTRAINT [FK_finanzas_maquina] FOREIGN KEY([maquina_id])
REFERENCES [dbo].[maquinas] ([id])
GO
ALTER TABLE [dbo].[finanzas] CHECK CONSTRAINT [FK_finanzas_maquina]
GO
ALTER TABLE [dbo].[finanzas]  WITH CHECK ADD  CONSTRAINT [FK_finanzas_orden_trabajo] FOREIGN KEY([orden_trabajo_id])
REFERENCES [dbo].[ordenes_trabajo] ([id])
GO
ALTER TABLE [dbo].[finanzas] CHECK CONSTRAINT [FK_finanzas_orden_trabajo]
GO
ALTER TABLE [dbo].[finanzas]  WITH CHECK ADD  CONSTRAINT [FK_finanzas_proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[proveedores] ([id])
GO
ALTER TABLE [dbo].[finanzas] CHECK CONSTRAINT [FK_finanzas_proveedor]
GO
ALTER TABLE [dbo].[finanzas]  WITH CHECK ADD  CONSTRAINT [FK_finanzas_transaccion] FOREIGN KEY([transaccion_id])
REFERENCES [dbo].[transacciones] ([id])
GO
ALTER TABLE [dbo].[finanzas] CHECK CONSTRAINT [FK_finanzas_transaccion]
GO
ALTER TABLE [dbo].[finanzas]  WITH CHECK ADD  CONSTRAINT [FK_finanzas_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[finanzas] CHECK CONSTRAINT [FK_finanzas_usuario]
GO
ALTER TABLE [dbo].[inventarios]  WITH CHECK ADD  CONSTRAINT [FK_inventarios_repuesto] FOREIGN KEY([repuesto_id])
REFERENCES [dbo].[repuestos] ([id])
GO
ALTER TABLE [dbo].[inventarios] CHECK CONSTRAINT [FK_inventarios_repuesto]
GO
ALTER TABLE [dbo].[mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_mantenimientos_orden_trabajo] FOREIGN KEY([orden_trabajo_id])
REFERENCES [dbo].[ordenes_trabajo] ([id])
GO
ALTER TABLE [dbo].[mantenimientos] CHECK CONSTRAINT [FK_mantenimientos_orden_trabajo]
GO
ALTER TABLE [dbo].[mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_mantenimientos_tecnico] FOREIGN KEY([tecnico_id])
REFERENCES [dbo].[tecnicos] ([id])
GO
ALTER TABLE [dbo].[mantenimientos] CHECK CONSTRAINT [FK_mantenimientos_tecnico]
GO
ALTER TABLE [dbo].[maquinas]  WITH CHECK ADD  CONSTRAINT [FK_maquinas_proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[proveedores] ([id])
GO
ALTER TABLE [dbo].[maquinas] CHECK CONSTRAINT [FK_maquinas_proveedor]
GO
ALTER TABLE [dbo].[maquinas]  WITH CHECK ADD  CONSTRAINT [FK_maquinas_ubicacion] FOREIGN KEY([ultima_ubicacion_id])
REFERENCES [dbo].[ubicaciones] ([id])
GO
ALTER TABLE [dbo].[maquinas] CHECK CONSTRAINT [FK_maquinas_ubicacion]
GO
ALTER TABLE [dbo].[maquinas]  WITH CHECK ADD  CONSTRAINT [FK_maquinas_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[maquinas] CHECK CONSTRAINT [FK_maquinas_usuario]
GO
ALTER TABLE [dbo].[ordenes_trabajo]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_trabajo_maquina] FOREIGN KEY([maquina_id])
REFERENCES [dbo].[maquinas] ([id])
GO
ALTER TABLE [dbo].[ordenes_trabajo] CHECK CONSTRAINT [FK_ordenes_trabajo_maquina]
GO
ALTER TABLE [dbo].[ordenes_trabajo]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_trabajo_usuario_tecnico] FOREIGN KEY([tecnico_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[ordenes_trabajo] CHECK CONSTRAINT [FK_ordenes_trabajo_usuario_tecnico]
GO
ALTER TABLE [dbo].[reportes_cliente]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[reportes_cliente]  WITH CHECK ADD FOREIGN KEY([maquina_id])
REFERENCES [dbo].[maquinas] ([id])
GO
ALTER TABLE [dbo].[repuestos]  WITH CHECK ADD  CONSTRAINT [FK_repuestos_proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[proveedores] ([id])
GO
ALTER TABLE [dbo].[repuestos] CHECK CONSTRAINT [FK_repuestos_proveedor]
GO
ALTER TABLE [dbo].[repuestos]  WITH CHECK ADD  CONSTRAINT [FK_repuestos_ubicacion] FOREIGN KEY([ubicacion_almacen])
REFERENCES [dbo].[ubicaciones] ([id])
GO
ALTER TABLE [dbo].[repuestos] CHECK CONSTRAINT [FK_repuestos_ubicacion]
GO
ALTER TABLE [dbo].[tecnicos]  WITH CHECK ADD  CONSTRAINT [FK_tecnicos_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[tecnicos] CHECK CONSTRAINT [FK_tecnicos_usuario]
GO
ALTER TABLE [dbo].[tipo_transaccion]  WITH CHECK ADD FOREIGN KEY([padre_id])
REFERENCES [dbo].[tipo_transaccion] ([id])
GO
ALTER TABLE [dbo].[transacciones]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_maquina] FOREIGN KEY([maquina_id])
REFERENCES [dbo].[maquinas] ([id])
GO
ALTER TABLE [dbo].[transacciones] CHECK CONSTRAINT [FK_transacciones_maquina]
GO
ALTER TABLE [dbo].[transacciones]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[transacciones] CHECK CONSTRAINT [FK_transacciones_usuario]
GO
USE [master]
GO
